<?php

return array(
    'params'=>array(
        'home_url' => 'http://gigadb.cogini.com', // Where top level link goes to

        'timezone'=>"Asia/Taipei",

        // Used in the contact page
        'adminEmail'=>'database@gigasciencejournal.com',

        // This is used as the sender of emails
        'app_email_name' => 'GigaDB',
        'app_email' => 'database@gigasciencejournal.com',
        'email_prefix' => '[GigaDB] ',

        'support_email' => 'database@gigasciencejournal.com',
        'email_prefix' => '', // put at the begining of the subject line

        // Notified when a new user signs up
        'notify_email' => 'database@gigasciencejournal.com',

        // Cogini
        'recaptcha_publickey' => '',
        'recaptcha_privatekey' => '',
        "google_analytics_profile" => "",

        // Sphinx params
        'sphinx_servername' => 'localhost',
        'sphinx_port' => 9312,
        // MC api
        'mc_apikey' => '',
        'mc_listID' => '',

        'less_dev_mode' => false,

        // Google Analytics profile
        'google_analytics_profile' => '',
    ),
);
